<p id="notice"><%= notice %></p>

<h2>
  <%= @bookmark.title %>
</h2>

<p>
  <%= link_to @bookmark.url, @bookmark.url %>
</p>

<p>
  <%= link_to @bookmark.tinyurl, @bookmark.tinyurl %>
</p>

<p>
  <b>Tags:</b>
  <%= render 'tags' %>
</p>

<%= link_to 'Back', site_path(get_site(@bookmark.url)) %>
