<!DOCTYPE html>
<html>
<head>
  <title>Bookmarking Application</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
	<a href="/"><img src="/images/logo.png" alt="Bookmarker Logo" /></a>
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'New boomkark', new_bookmark_path %></li>
		<li><%= link_to 'Search', search_path %></li>
	</ul>
</header>
<div id="main"><%= yield %></div>

</body>
</html>
